.DS_Store
*.log
tomcat/
tomcat/work/*
**/index.min.js
**/indexdefer.min.js
webapp/WEB-INF/temp/*
webapp/WEB-INF/data/catalog/generated
webapp/WEB-INF/data/catalog/originals
webapp/WEB-INF/data/repos
webapp/WEB-INF/data/exports
webapp/WEB-INF/data/system