<div id="sidebarreload" 
	class="ajaxsocketautoreload"  
	data-ajaxpath="$apphome/html/components/chat-dashboard/sidebar-team.html?oemaxlevel=1">

	<div class="sidebar-section-btn mb-2" style="background-color: #f2f2f2;">
		<span class="d-flex align-items-center gap-2">
			<i class="bi bi-people sect-icon"></i> [[Teams]]   
		</span>
		#if($canviewsettings)
			<a href="$apphome/projects/add/addnew.html" class="emdialog">
				<i class="fas fa-plus"></i>
			</a>
		#end
	</div>

	#set($libraryhits = $mediaarchive.query("librarycollection").all().search($context))

	#foreach($hit in $libraryhits)
		#set($logo = $mediaarchive.getAsset($hit.assetportrait) )
		#if ($logo)
			#set($logourl = "/$mediaarchive.getMediaDbId()/services/module/asset/generated/${logo.sourcepath}/image200x200.webp")
		#else
			#set($logourl = "$apphome/theme/images/OI_flower.png")
		#end
		<a href="$siteroot/project/${hit.urlname}" class="file-row">
			<img class="team-logo me-1" src="$logourl" alt="$hit.getName()">
			$hit.getName()
		</a> 
	#end

</div> 