#if($canviewsettings)
  #if( $userprofile.getModules().size() > 1 )
    <div class="d-flex flex-column py-2">

      <div class="sidebar-section-btn mb-2" style="background-color: #f2f2f2;">
        <span class="d-flex align-items-center gap-2">
          <i class="bi bi-gear sect-icon"></i>[[Administration]]
        </span> 
      </div>

      <a href="$applink/components/smartautomation/index.html" 
        class="emdialog file-row" 
        data-oemaxlevel="1"
        data-modulesearchhitssessionid="$!modulehits.sessionId" 
        data-action="show" 
        data-sidebar="smartautomation"
        data-dialogid="smartautomation"
        title="[[Smart Automation]]">
        <i class="bi bi-magic f-icon" style="color: #ff33ee;"></i>
        <span class="f-name">[[Agent Manager]]</span>
      </a>
      <a href="$applink/components/smartorganizer/index.html" 
        class="emdialog file-row" 
        data-oemaxlevel="1"
        data-modulesearchhitssessionid="$!modulehits.sessionId" 
        data-action="show" 
        data-sidebar="smartorganizer"
        data-dialogid="smartorganizer"
        title="[[Smart Organizer]]">
        <i class="bi bi-diagram-2 f-icon" style="color: #3363ff;"></i>
        <span class="f-name">[[Smart Organizer]]</span>
      </a>

      <a href="$applink/components/smartautomation/index.html" 
        class="emdialog file-row" 
        data-oemaxlevel="1"
        data-modulesearchhitssessionid="$!modulehits.sessionId" 
        data-action="show" 
        data-sidebar="smartautomation"
        data-dialogid="smartautomation"
        title="[[Smart Automation]]">
        <i class="bi bi-share ns f-icon" style="color: #3cb371;"></i>
        <span class="f-name">[[Sharing Management]]</span>
      </a>

    </div>
  #end
#end