<div class="sidebar-section-btn" style="background-color: #f2f2f2;">
  <span class="d-flex align-items-center gap-2">
    <i class="bi bi-folder2-open sect-icon"></i>EME $emeprofile.getName()
  </span> 
</div>

<div class="py-2" id="sbFilesBody">
  #set($sectionid = $context.getRequestParameter("section"))
  #set($topmenuselected = $sectionid)

  <a href="/${emeprofile.urlname}" 
    class="ajax activelistener file-row #if( $topmenuselected == $link.getId()) active#end" 
    data-targetdiv="applicationcontent" 
    data-oemaxlevel="3" 
    data-updateurl="true"
    data-scrolltotop="true"
    title="[[Chat with]] ${emeprofile.getName()}">
    <i class="bi bi-person-arms-up module-icon f-icon"></i>
    <span class="f-name">[[Chat]]</span>
  </a>

  <a href="$apphome/views/modules/entityasset/index.html" 
    class="ajax activelistener file-row #if( $topmenuselected == $link.getId()) active#end" 
    data-targetdiv="applicationcontent" 
    data-oemaxlevel="3" 
    data-updateurl="true"
    data-scrolltotop="true"
    title="[[View]] [[Assets]]">
    <i class="bi bi-image-fill module-icon f-icon"></i>
    <span class="f-name">[[Assets]]</span>
  </a>

  <a class="activelistener file-row mt-2"
    href="${apphome}/views/modules/searchcategory/index.html"
    data-targetdiv="applicationcontent" 
    data-oemaxlevel="3" 
    data-updateurl="true"
    style="color:#10b981; font-weight:500;">
    <i class="bi bi-grid f-icon" style="color:#10b981;"></i>
    <span class="f-name">[[Categories]]</span>
    <i class="bi bi-arrow-right" style="font-size:0.7rem; color:#9ca3af;"></i>
  </a>

  <a href="$apphome/views/modules/emeprofile/index.html" 
    class="emdialog activelistener file-row #if( $topmenuselected == $link.getId()) active#end" 
    data-targetdiv="applicationcontent" 
    data-entityid="$emeprofile.getId()"
    data-oemaxlevel="3" 
    data-updateurl="true"
    data-scrolltotop="true"
    title="[[View]] [[Settings]]">
    <i class="bi bi-gear-fill module-icon f-icon"></i>
    <span class="f-name">[[Settings]]</span>
  </a>


</div>
