#set($edithome = "$apphome/views/modules/${module.id}/editors/entitychat")
$context.putPageValue("edithome", $edithome)

#set( $chatterboxhome = "$apphome/views/modules/${module.id}/editors/entitychat/chatterbox" )
$context.putPageValue("chatterboxhome", $chatterboxhome)

#set($channeltype = "agententitychat")
$context.putPageValue("channeltype", $channeltype)

#set($edithomeid = "entitychat")

    <div id="chatMainContent" 
        class="chat-main-content#if( $user.getId() == $emeprofile.get('owner') ) has-owner-toolbar#end rounded-3 shadow-sm border h-100">
      <div class="chat-input-container">

		<div id="${edithomeid}" 
			class="editdiv entity-tab-content entity-tab-chatterbox aichatsearch" 
			data-edithome="${edithome}"
			data-entityid="$!entity.id"
			data-moduleid="$!module.getId()"
			data-currenttab="$!viewid"
			data-channel="$!{currentchannel.id}"
			data-url=""
			data-channeltype="$!{channeltype}"
		>

		$pages.include("${chatterboxhome}/index.html", $context)
		</div>
		</div>
</div>